body{
  background-color: #1976d2;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url("./assets/images/bg.webp")  no-repeat center center;
  opacity: 0.2;
  background-size: cover;
  height: 100%;
}


#root{
position: relative; 
min-height: 100%;
z-index: 2;
}

.link, .navLink{
  text-decoration: none;
  color: inherit
}

.navLink{
  margin-right: 10px;
}

.navLink.active{
  text-decoration: underline
}

.myProjectText{
margin-top: 30px;
}

.cardImgWrapper{
min-height: 140px;
overflow: hidden;
max-height: 140px;
display: flex;
animation-duration: 2s;
animation-iteration-count: infinite;
transform-origin: bottom;
}
.cardImgWrapper img{
background-position: top;
}

.cardImgWrapper:hover {
animation-name: bounce;
animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-50px); }
100% { transform: translateY(0); }
}

.cardWrapper {
padding-bottom: 20px;
}

ul li a{
  color:#333;
  text-decoration: none;
}
ul li a:hover{
  text-decoration: underline;
}

.projectsLink{
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found img{
  width: 90%;
}